<section class="p-3">
	<h1 class="text-center">Heroes Warfare</h1>
	<p class="text-center">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab accusamus, alias aperiam architecto
			       assumenda atque commodi, consequuntur corporis cum cupiditate distinctio eaque expedita hic id
			       illum ipsam iure iusto labore minima molestias neque non nostrum pariatur quibusdam rem saepe
			       sit tenetur ullam velit vero? Accusantium ad adipisci alias architecto blanditiis consequuntur debitis
			       deleniti deserunt distinctio dolorem eum excepturi incidunt inventore ipsa molestias natus necessitatibus
			       neque obcaecati omnis reprehenderit, sed, sequi ut vel veniam vitae voluptate voluptatibus voluptatum!
			       Aliquid atque deserunt earum incidunt iste itaque molestiae nihil nisi quis reiciendis. Adipisci dignissimos
			       ex, ipsa iste iusto laborum officia quo recusandae vel.</p>
	
	<p class="text-center">
		<button class="btn btn-outline-primary "
			[ngClass]="{ 'active' : currentView === FILTERING_VIEWS.HERO }"
			(click)="onClickTopHeroes()">Top Heroes
		</button>
		<button class="btn btn-outline-info"
			[ngClass]="{ 'active' : currentView === FILTERING_VIEWS.WEAPON }"
			(click)="onClickTopWeapon()">Top Weapons
		</button>
		<button class="btn btn-outline-success"
			[ngClass]="{ 'active' : currentView === FILTERING_VIEWS.SEARCH }"
			(click)="onClickResaerch()">Research
		</button>
	</p>
	
	<hr [hidden]="!formIsShown"/>
	<form (submit)="validate()" flatizer-label-form [hidden]="!formIsShown" #form="ngForm">
		<div class="form-group">
			<label for="term">Term</label>
			<input type="search" name="term" id="term" class="form-control" [(ngModel)]="filterForm.term" required>
		</div>
		<div class="form-group">
			<label for="term">Entity</label>
			<select name="entity" id="entity" class="form-control" [(ngModel)]="filterForm.entity" required>
				<option value="Hero">Hero</option>
				<option value="Weapon">Weapon</option>
			</select>
		</div>
		<div class="form-group" [hidden]="!filterForm.entity">
			<label for="term">Property</label>
			<select name="property" id="property" class="form-control" [(ngModel)]="filterForm.property" required>
				<option value="name">Name</option>
				<option value="attack">Attack</option>
				<option value="dodge">Dodge</option>
				<option value="damage">Damage</option>
				<option value="hp">HP</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary" [hidden]="!filterForm.entity">Find</button>
	</form>
	
	<hr *ngIf="warfareEntities"/>
	<h5 class="text-center" *ngIf="currentView !== FILTERING_VIEWS.SEARCH ">Top 4</h5>
	<p class="text-right" *ngIf="currentView === FILTERING_VIEWS.SEARCH && form._submitted && warfareEntities"> {{ warfareEntities.length }} result(s)</p>
	<p class="text-right" *ngIf="currentView === FILTERING_VIEWS.SEARCH && form._submitted && !warfareEntities"> No result</p>
	<div class="row">
		<warfare-entity-header *ngFor="let entity of warfareEntities | limit : MAX_TOP_ENTITIES" [entity]="entity" [options]="{ actionBtn: false, cardView: true }" class="col-6 my-2"></warfare-entity-header>
	</div>
</section>