@font-face {
	font-family: 'rolandbeckerlight';
	src:         url('../../fonts/rolandbeckerlight.eot');
	src:         url('../../fonts/rolandbeckerlight.eot?#iefix') format('embedded-opentype'),
		     url('../../fonts/rolandbeckerlight.woff') format('woff'),
		     url('../../fonts/rolandbeckerlight.ttf') format('truetype');
	font-weight: normal;
	font-style:  normal;
}


@font-face {
	font-family: 'rolandbecker';
	src:         url('../../fonts/rolandbecker.eot');
	src:         url('../../fonts/rolandbecker.eot?#iefix') format('embedded-opentype'),
		     url('../../fonts/rolandbecker.woff') format('woff'),
		     url('../../fonts/rolandbecker.ttf') format('truetype');
	font-weight: normal;
	font-style:  normal;
}


@font-face {
	font-family: 'antipastoextralight';
	src:         url('../../fonts/antipasto_extralight.eot');
	src:         url('../../fonts/antipasto_extralight.eot?#iefix') format('embedded-opentype'),
		     url('../../fonts/antipasto_extralight.woff') format('woff'),
		     url('../../fonts/antipasto_extralight.ttf') format('truetype');
	font-weight: normal;
	font-style:  normal;
}


@font-face {
	font-family: 'antipastoregular';
	src:         url('../../fonts/antipasto_regular.eot');
	src:         url('../../fonts/antipasto_regular.eot?#iefix') format('embedded-opentype'),
		     url('../../fonts/antipasto_regular.woff') format('woff'),
		     url('../../fonts/antipasto_regular.ttf') format('truetype');
	font-weight: normal;
	font-style:  normal;
	
}