<section *ngIf="hero" >
	<h2 >
		{{ hero.name }}
		<a uiSref="heroes_edit" [uiParams]="{ id: hero.id }" class="btn btn-outline-info btn-xs" >Edit</a >
		<button (click)="deleteHero( hero )" class="btn btn-outline-danger btn-xs" >Delete</button >
	</h2 >
	
	<table class="table table-striped table-bordered table-hover table-responsive" >
		<thead class="thead-inverse" >
			<tr >
				<th >ID</th >
				<th >Name</th >
				<th >Attack</th >
				<th >Dodge</th >
				<th >Damage</th >
				<th >HP</th >
			</tr >
		</thead >
		<tbody >
			<tr >
				<td >{{ hero.id }}</td >
				<td >{{ hero.name }}</td >
				<td >{{ hero.attack }}</td >
				<td >{{ hero.dodge }}</td >
				<td >{{ hero.damage }}</td >
				<td >{{ hero.hp }}</td >
			</tr >
		</tbody >
	</table >
	
	<div class="col-xs-12" *ngIf="hero.weapon" >
		<h2 >Weapon</h2 >
		{{ hero.weapon.name }}
		<a class="btn btn-outline-primary" uiSref="weapons_show" [uiParams]="{ id: hero.weapon.id }" >Show</a >
	</div >
</section >