<warfare-entity-header [entity]="entity" [options]="{ actionBtn: false }" ></warfare-entity-header >

<form [formGroup]="form" class="container col-xs-12 col-md-8 col-md-offset-4" flatizer-label-form >
	<div class="alert alert-{{ feedback.type }} alert-dismissible fade show" role="alert" *ngIf="feedback.asError" >
		<button type="button" class="close" data-dismiss="alert" aria-label="Close" >
			<span aria-hidden="true" >&times;</span >
		</button >
		{{ feedback.message }}
	</div >
	
	<div >Remaning points: {{ remainingPoints() }}</div >
	
	<div class="form-group" >
		<label for="entity_name" >Name</label >
		<input type="text" class="form-control" name="name" id="entity_name" formControlName="name" >
	</div >
	
	<div class="form-group">
		<label for="entity_name">Pic</label>
		<input type="file" class="form-control" name="pic" id="entity_pic" formControlName="pic" disabled>
	</div>
	
	<div class="form-group" *ngIf="entity.isHero()" >
		<label for="entity_type" >Weapon</label >
		<select name="type" id="entity_type" formControlName="weapon" class="form-control" >
			<option *ngFor="let weapon of weapons" value="{{ weapon | srzWeapon }}" >{{ weapon.name }}</option >
		</select >
	</div >
	
	<div class="form-group" >
		<label for="entity_attack" >Attack</label >
		<input type="number" class="form-control" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="attack" id="entity_attack" formControlName="attack" >
	</div >
	
	<div class="form-group" >
		<label for="entity_dodge" >Dodge</label >
		<input type="number" class="form-control" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="dodge" id="entity_dodge" formControlName="dodge" >
	</div >
	
	<div class="form-group" >
		<label for="entity_damage" >Damage</label >
		<input type="number" class="form-control" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="damage" id="entity_damage" formControlName="damage" >
	</div >
	
	<div class="form-group" >
		<label for="entity_hp" >HP</label >
		<input type="number" class="form-control" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="hp" id="entity_hp" formControlName="hp" >
	</div >
	
	<button type="button" (click)="reset()" class="btn btn-outline-info" >Cancel</button >
	<button type="submit" (click)="validate()" class="btn btn-outline-primary" >Submit</button >
</form >