<form [formGroup]="form" >
	<div *ngIf="feedback.asError" >
		<h5 >{{ feedback.type }}</h5 >
		<p >{{ feedback.message }}</p >
	</div >
	
	<div >Remaning points: {{ remainingPoints() }}</div >
	
	<label for="entity_name" >Nom: </label >
	<input type="text" name="name" id="entity_name" formControlName="name" >
	
	<label for="entity_attack" ></label >
	<input type="number" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="attack" id="entity_attack" formControlName="attack" >
	
	<label for="entity_dodge" ></label >
	<input type="number" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="dodge" id="entity_dodge" formControlName="dodge" >
	
	<label for="entity_damage" ></label >
	<input type="number" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="damage" id="entity_damage" formControlName="damage" >
	
	<label for="entity_hp" ></label >
	<input type="number" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="hp" id="entity_hp" formControlName="hp" >
	
	<button type="button" (click)="reset()" >Cancel</button >
	<button type="submit" (click)="validate()" >Submit</button >
</form >