<form [formGroup]="form" >
	<div class="alert alert-{{ feedback.type }} alert-dismissible fade show" role="alert" *ngIf="feedback.asError" >
		<button type="button" class="close" data-dismiss="alert" aria-label="Close" >
			<span aria-hidden="true" >&times;</span >
		</button >
		{{ feedback.message }}
	</div >
	
	<div >Remaning points: {{ remainingPoints() }}</div >
	
	<div class="form-group" >
		<label for="entity_name" >Nom: </label >
		<input type="text" class="form-control" name="name" id="entity_name" formControlName="name" >
	</div >
	
	<div class="form-group" *ngIf="entity.isHero()" >
		<label for="entity_type" >Type: </label >
		<!--<input type="text" class="form-control" name="type" id="entity_type" formControlName="type" >-->
		<select name="type" id="entity_type" formControlName="weapon" class="form-control" >
			<option *ngFor="let weapon of weapons" value="{{ weapon | srzWeapon }}" >{{ weapon.name }}</option >
		</select >
	</div >
	
	<div class="form-group" >
		<label for="entity_attack" >Attack</label >
		<div class="input-group" >
			<input type="number" class="form-control" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="attack" id="entity_attack" formControlName="attack" >
			<span *ngIf="entity.weapon" class="input-group-addon" >{{ ( (entity.weapon.attack > 0) ? '+' : '' ) + entity.weapon.attack }}</span >
		</div >
	</div >
	
	<div class="form-group" >
		<label for="entity_dodge" >Dodge</label >
		<div class="input-group" >
			<input type="number" class="form-control" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="dodge" id="entity_dodge" formControlName="dodge" >
			<span *ngIf="entity.weapon" class="input-group-addon" >{{ ( (entity.weapon.dodge > 0) ? '+' : '' ) + entity.weapon.dodge }}</span >
		</div >
	</div >
	
	<div class="form-group" >
		<label for="entity_damage" >Damage</label >
		<div class="input-group" >
			<input type="number" class="form-control" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="damage" id="entity_damage" formControlName="damage" >
			<span *ngIf="entity.weapon" class="input-group-addon" >{{ ( (entity.weapon.damage > 0) ? '+' : '' ) + entity.weapon.damage }}</span >
		</div >
	</div >
	
	<div class="form-group" >
		<label for="entity_hp" >HP</label >
		<div class="input-group" >
			<input type="number" class="form-control" step="1" min="{{ entity.getMinValue() }}" max="{{ entity.getMaxValue() }}" name="hp" id="entity_hp" formControlName="hp" >
			<span *ngIf="entity.weapon" class="input-group-addon" >{{ ( (entity.weapon.hp > 0) ? '+' : '' ) + entity.weapon.hp }}</span >
		</div >
	</div >
	
	<button type="button" (click)="reset()" class="btn btn-outline-info" >Cancel</button >
	<button type="submit" (click)="validate()" class="btn btn-outline-primary" >Submit</button >
</form >