<nav class="navbar navbar-toggleable-md navbar-inverse bg-primary fixed-top" >
	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
		<span class="navbar-toggler-icon" ></span >
	</button >
	<h1 class="navbar-brand mb-0" >HeroesWarfare</h1 >
	
	<div class="collapse navbar-collapse" id="navbarSupportedContent" >
		<ul class="navbar-nav mr-auto" >
			<li class="nav-item active" >
				<a class="nav-link" uiSref="app" uiSrefActive="active" >App
					<span class="sr-only" >(current)</span ></a >
			</li >
			<li class="nav-item" >
				<a class="nav-link" uiSref="heroes" uiSrefActive="active" >Heroes</a >
			</li >
			<li class="nav-item" >
				<a class="nav-link" uiSref="weapons" uiSrefActive="active" >Weapons</a >
			</li >
		</ul >
	</div >
</nav >

<section class="d-flex flex-nowrap align-items-stretch flex-row flex-xs-column p-0" >
	<ui-view name="subMenu" id="uiv-sub-menu" class="flex-item p-3" ></ui-view >
	<ui-view name="content" id="uiv-content" class="flex-item p-0" ></ui-view >


</section >
