<div class="d-flex head" >
	<img src="../../../../assets/img/leek.png" class="img-fluid rounded p-3" />
	<div class="align-items-center d-flex justify-content-center" >
		<h2 >
			{{ entity.name }}
			<div class="action" *ngIf="options.actionBtn" >
				<a uiSref="{{ ( entity.isHero() ) ? 'heroes_edit' : 'weapons_edit' }}" [uiParams]="{ id: entity.id }" class="btn btn-info btn-xs rounded-circle p-2" title="Edit entity" ><i class="fa fa-pencil" aria-hidden="true" ></i ></a >
				<!--TODO Delete actions-->
				<button (click)="deleteHero( entity )" class="btn btn-danger btn-xs rounded-circle p-1" title="Delete entity" >
					<i class="fa fa-trash-o" aria-hidden="true" ></i ></button >
			</div >
		</h2 >
	</div >
</div >
<div class="d-flex justify-content-center properties p-0" *ngIf="entity" >
	<div class="entity-property px-3 py-2 btn-change"
		placement="top" tooltip="Absolute value it's the value was effective in game"
	>
		<label class="custom-control custom-checkbox entity-property m-0" >
			<input type="checkbox" class="custom-control-input" id="showAbsolutValueProperties" [(ngModel)]="showAbsoluteValueProperties" >
			<span class="custom-control-indicator" ></span >
			<span class="custom-control-description" >Absolute values <i class="fa fa-question-circle text-primary" aria-hidden="true" ></i ></span >
		</label >
	</div >
	<div class="entity-property px-3 py-2 attack" >
		<img src="../../../../assets/img/attack.png" class="mr-1"
			placement="top" tooltip="Points assigned to Attack property" />
		<span *ngIf="!showAbsoluteValueProperties" >{{ entity.attack }}</span >
		<span *ngIf="showAbsoluteValueProperties" >{{ entity.getAbsoluteAttack() }} to {{ entity.getAbsoluteAttack( 3 ) }}</span >
		<span class="badge badge-pill"
			*ngIf="entity.isHero() && entity.weapon && !showAbsoluteValueProperties"
			placement="top" tooltip="Impact of weapon carried on attack points Hero"
			[ngClass]="{'badge-success': entity.weapon.attack >= 0, 'badge-danger' : entity.weapon.attack < 0}" >
				{{ ( (entity.weapon.attack  > 0) ? '+' : '' ) + entity.weapon.attack }}
			</span >
		<span class="badge badge-pill"
			*ngIf="entity.isHero() && entity.weapon && showAbsoluteValueProperties"
			placement="top" tooltip="Impact of weapon carried on attack points Hero"
			[ngClass]="{'badge-success': entity.weapon.attack >= 0, 'badge-danger' : entity.weapon.attack < 0}" >
				{{ ( (entity.weapon.getAbsoluteAttack()  > 0) ? '+' : '' ) + entity.weapon.getAbsoluteAttack() }} to
				{{ ( (entity.weapon.getAbsoluteAttack(3)  > 0) ? '+' : '' ) + entity.weapon.getAbsoluteAttack(3) }}
			</span >
	</div >
	<div class="entity-property px-3 py-2 dodge" >
		<img src="../../../../assets/img/dodge.png" class="mr-1"
			placement="top" tooltip="Points assigned to Dodge property" />
		<span *ngIf="!showAbsoluteValueProperties" >{{ entity.dodge }}</span >
		<span *ngIf="showAbsoluteValueProperties" >{{ entity.getAbsoluteDodge() }} to {{ entity.getAbsoluteDodge( 3 ) }}</span >
		
		<span class="badge badge-pill"
			*ngIf="entity.isHero() && entity.weapon && !showAbsoluteValueProperties"
			placement="top" tooltip="Impact of weapon carried on dodge points Hero"
			[ngClass]="{'badge-success': entity.weapon.dodge >= 0, 'badge-danger' : entity.weapon.dodge < 0}" >
				{{ ( (entity.weapon.dodge  > 0) ? '+' : '' ) + entity.weapon.dodge }}
			</span >
		<span class="badge badge-pill"
			*ngIf="entity.isHero() && entity.weapon && showAbsoluteValueProperties"
			placement="top" tooltip="Impact of weapon carried on dodge points Hero"
			[ngClass]="{'badge-success': entity.weapon.dodge >= 0, 'badge-danger' : entity.weapon.dodge < 0}" >
				{{ ( (entity.weapon.getAbsoluteDodge()  > 0) ? '+' : '' ) + entity.weapon.getAbsoluteDodge() }} to
				{{ ( (entity.weapon.getAbsoluteDodge(3)  > 0) ? '+' : '' ) + entity.weapon.getAbsoluteDodge(3) }}
			</span >
	</div >
	<div class="entity-property px-3 py-2 damage" >
		<img src="../../../../assets/img/damage.png" class="mr-1"
			placement="top" tooltip="Points assigned to Damage property" />
		<span *ngIf="!showAbsoluteValueProperties" >{{ entity.damage }}</span >
		<span *ngIf="showAbsoluteValueProperties" >{{ entity.getAbsoluteDamage() }} to {{ entity.getAbsoluteDamage( 3 ) }}</span >
		
		<span class="badge badge-pill"
			*ngIf="entity.isHero() && entity.weapon && !showAbsoluteValueProperties"
			placement="top" tooltip="Impact of weapon carried on damage points Hero"
			[ngClass]="{'badge-success': entity.weapon.damage >= 0, 'badge-danger' : entity.weapon.damage < 0}" >
				{{ ( (entity.weapon.damage  > 0) ? '+' : '' ) + entity.weapon.damage }}
			</span >
		<span class="badge badge-pill"
			*ngIf="entity.isHero() && entity.weapon && showAbsoluteValueProperties"
			placement="top" tooltip="Impact of weapon carried on damage points Hero"
			[ngClass]="{'badge-success': entity.weapon.damage >= 0, 'badge-danger' : entity.weapon.damage < 0}" >
				{{ ( (entity.weapon.getAbsoluteDamage()  > 0) ? '+' : '' ) + entity.weapon.getAbsoluteDamage() }} to
				{{ ( (entity.weapon.getAbsoluteDamage(3)  > 0) ? '+' : '' ) + entity.weapon.getAbsoluteDamage(3) }}
			</span >
	</div >
	<div class="entity-property px-3 py-2 hp" >
		<img src="../../../../assets/img/hp.png" class="mr-1"
			placement="top" tooltip="Points assigned to HP property" />
		<span *ngIf="!showAbsoluteValueProperties" >{{ entity.hp }}</span >
		<span *ngIf="showAbsoluteValueProperties" >{{ entity.getAbsoluteHp() }}</span >
		
		<span class="badge badge-pill"
			*ngIf="entity.isHero() && entity.weapon && showAbsoluteValueProperties"
			placement="top" tooltip="Impact of weapon carried on health points Hero"
			[ngClass]="{'badge-success': entity.weapon.hp >= 0, 'badge-danger' : entity.weapon.hp < 0}" >
				{{ ( (entity.weapon.hp  > 0) ? '+' : '' ) + entity.weapon.hp }}
			</span >
		<span class="badge badge-pill"
			*ngIf="entity.isHero() && entity.weapon && !showAbsoluteValueProperties"
			placement="top" tooltip="Impact of weapon carried on health points Hero"
			[ngClass]="{'badge-success': entity.weapon.hp >= 0, 'badge-danger' : entity.weapon.hp < 0}" >
				{{ ( (entity.weapon.getAbsoluteHp()  > 0) ? '+' : '' ) + entity.weapon.getAbsoluteHp() }}
			</span >
	</div >
</div >