<section *ngIf="weapon" >
	<h2 >
		{{ weapon.name }}
		<a uiSref="weapons_edit" [uiParams]="{ id: weapon.id }" class="btn btn-outline-info btn-xs" >Edit</a >
		<button (click)="deleteWeapon( weapon )" class="btn btn-outline-danger btn-xs" >Delete</button >
	</h2 >
	<table class="table table-striped table-bordered table-hover table-responsive" >
		<thead class="thead-inverse" >
			<tr >
				<th >ID</th >
				<th >Name</th >
				<th >Attack</th >
				<th >Dodge</th >
				<th >Damage</th >
				<th >HP</th >
				git
			</tr >
		</thead >
		<tbody >
			<tr >
				<td >{{ weapon.id }}</td >
				<td >{{ weapon.name }}</td >
				<td >{{ weapon.attack }}</td >
				<td >{{ weapon.dodge }}</td >
				<td >{{ weapon.damage }}</td >
				<td >{{ weapon.hp }}</td >
			</tr >
		</tbody >
	</table >
</section >